*,
html,
body,
p {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    width: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif
}

#dummy-cursor{
    position: absolute;
    display: none;
}

.tool-box{
    position: absolute;
    z-index: 10;
    top: 93%;
    width: 100%;
    padding: 0 350px;
    display: none;
}

.tool-box .tool{
    padding: 5px 15px;
}

.tool-box .redo-undo-box{
    display: -webkit-inline-box;
}

.tool-box .redo-undo-box a{
    display: block;
    margin: 0 15px;
}

.tool-box .compound-box{
    width: 65px;
    min-width: 60px;
    left: -70%;
}

.compound-box>li>a:hover{
    background: orange!important;
}

.toolbar {
    /*background: #f7f7f7;*/
    /*background: -webkit-linear-gradient(#f7f7f7, #f1f1f1 80%);*/
    /*background: -moz-linear-gradient(#f7f7f7, #f1f1f1 80%);*/
    /*background: -o-linear-gradient(#f7f7f7, #f1f1f1 80%);*/
    /*background: -ms-linear-gradient(#f7f7f7, #f1f1f1 80%);*/
    /*background: linear-gradient(#f7f7f7, #f1f1f1 80%);*/
    /*border-top: 1px solid #ccc;*/
    bottom: 0px;
    overflow: hidden;
    padding-top: 0px;
    width: 100%;
    white-space: nowrap;
    height: 32px;
    position: absolute;
    left: 0px;
    right: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toolbar ul {
    position: relative;
    list-style: none;
    left: 40%;
    margin: 0 auto;
    z-index: 2;
    overflow: hidden;
    float: left
}

.toolbar ul.menu_right {
    float: right
}

.toolbar ul li {
    float: left;
    margin-left: 2px;
}

.toolbar ul li.separator {
    border: inherit;
    background: inherit;
    visibility: hidden;
    width: 0px;
    padding: 5px;
}

.toolbar ul li a:hover {
    text-decoration: none;
}

.toolbar ul li a:hover {
    background: rgba(255,154,0,.5);
    background: -webkit-linear-gradient( rgba(255,154,0,.5),  rgba(255,154,0,.5));
    background: -moz-linear-gradient( rgba(255,154,0,.5),  rgba(255,154,0,.5));
    background: -o-linear-gradient( rgba(255,154,0,.5),  rgba(255,154,0,.5));
    background: -ms-linear-gradient( rgba(255,154,0,.5),  rgba(255,154,0,.5));
    background: linear-gradient( rgba(255,154,0,.5), rgba(255,154,0,.5));
    /*background: -webkit-linear-gradient(#f4f4f4, #e4e4e4);*/
    /*background: -moz-linear-gradient(#f4f4f4, #e4e4e4);*/
    /*background: -o-linear-gradient(#f4f4f4, #e4e4e4);*/
    /*background: -ms-linear-gradient(#f4f4f4, #e4e4e4);*/
    /*background: linear-gradient(#f4f4f4, #e4e4e4);*/
}

.toolbar ul li a {

    background: #fff;
    background: -webkit-linear-gradient(#fff, #f0f0f0);
    background: -moz-linear-gradient(#fff, #f0f0f0);
    background: -o-linear-gradient(#fff, #f0f0f0);
    background: -ms-linear-gradient(#fff, #f0f0f0);
    background: linear-gradient(#fff, #f0f0f0);
    /*border: 1px solid #ccc;*/
    /*border-radius: 3px;*/
    color: #ccc;
    cursor: pointer;
    display: inline-block;
    min-height: 18px;
    overflow: hidden;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
    min-width: 18px;
}

.toolbar ul li a .buttonicon {
    position: relative;
    top: 1px;
}

.toolbar ul li a.grouped-left {
    border-radius: 3px 0 0 3px;
}

.toolbar ul li a.grouped-middle {
    border-radius: 0;
    margin-left: -2px;
    border-left: 0;
}

.toolbar ul li a.grouped-right {
    border-radius: 0 3px 3px 0;
    margin-left: -2px;
    border-left: 0;
}

#usericon a {
    min-width: 30px;
    text-align: left;
}

#usericon a #online_count {
    color: #777;
    font-size: 10px;
    position: relative;
    top: 2px;
}

#loading {
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 2.5em;
    color: #aaa;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 30px;
    z-index: 100;
}

#mycolorpicker {

    position: absolute;
    left: 40% !important;
    top: 48% !important;
    z-index: 100;
    display: none;
    border-radius: 6px;

    background-image: -ms-linear-gradient(top, #F7F7F7 0%, #FFFFFF 100%);

    background-image: -moz-linear-gradient(top, #F7F7F7 0%, #FFFFFF 100%);

    background-image: -o-linear-gradient(top, #F7F7F7 0%, #FFFFFF 100%);

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F7F7F7), color-stop(1, #FFFFFF));

    background-image: -webkit-linear-gradient(top, #F7F7F7 0%, #FFFFFF 100%);

    background-image: linear-gradient(to bottom, #F7F7F7 0%, #FFFFFF 100%);
    border: 1px solid #ccc;
    border-top: 0;
    padding: 10px;
}

#mycolorpickersave,
#mycolorpickercancel {
    background: #fff;
    background: -webkit-linear-gradient(#fff, #ccc);
    background: -moz-linear-gradient(#fff, #ccc);
    background: -o-linear-gradient(#fff, #ccc);
    background: -ms-linear-gradient(#fff, #ccc);
    background: linear-gradient(#fff, #ccc);
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    color: #000;
    overflow: hidden;
    padding: 4px;
    top: 240px;
    text-align: center;
    position: absolute;
    width: 60px;
}

#myuser .myusernameedithoverable:hover {
    background: white;
    color: black;
}

#myswatchbox, #myusernameedit, #otheruserstable .swatch {
    border: 1px solid #ccc !important;
    color: #333;
}

#otheruserstable .swatch {
    border: 1px solid #000;
    width: 13px;
    height: 13px;
    overflow: hidden;
    margin: 0 4px;
}

#connectivity .visible,
#connectivity .visible * {
    display: block;
}

.toolbar #overlay {
    z-index: 500;
    display: none;
    background-repeat: repeat-both;
    width: 100%;
    position: absolute;
    height: inherit;
    left: 0;
    top: 0;
}

#importstatusball,
#importarrow,
#importmessagesuccess,
#importmessageabiword {
    display: none;
}

#importmessageabiword {
    color: #900;
    font-size: small;
}

#importstatusball {
    height: 50px
}

.disabled{
    cursor: not-allowed;
    opacity: 0.5;
}

.buttonicon {
    width: 24px;
    height: 24px;
    background-image: url('../../static/img/etherpad_lite_icons.png');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.buttonicon-draw {
    background-image: url('../../static/img/brush.png');
}

.buttonicon-pencil {
    background-image: url('../../static/img/pencil.png');
}

.buttonicon-eraser{
    background-image: url('../../static/img/eraser.png');
}

.buttonicon-line{
    background-image: url('../../static/img/line.png');
}

.buttonicon-select {
    background-image: url('../../static/img/select.png');
}

.buttonicon-clear {
    background-image: url('../../static/img/close.png');
}

.buttonicon-upload {
    background-image: url('../../static/img/upload.png');
}
.buttonicon-color {
    background-image: url('../../static/img/color.png');
}

.buttonicon-page-tools {
    background-image: url('../../static/img/page-process-icon.png');
    background-color: white;
}

.buttonicon-page-tools:active {
    background-image: url('../../static/img/page-process-icon.png');
    background-color: white;
}

.buttonicon-page-tools:active:focus {
    outline: none;
}

.buttonicon-new-page{
    background-image: url('../../static/img/new-page-icon.png');
}

.buttonicon-previous-page{
    background-image: url('../../static/img/page-previous-icon.png');
}

.buttonicon-next-page{
    background-image: url('../../static/img/page-next-icon.png');
}

.buttonicon-settings {
    background-position: 0px -436px
}

.buttonicon-import_export {
    background-image: url('../../static/img/export.png');
    /*background-position: 0px -68px*/
}

.buttonicon-undo {
    background-image: url('../../static/img/undo.png');
    /*opacity: 0.5;*/
}

.buttonicon-redo {
    background-image: url('../../static/img/redo.png');
    /*opacity: 0.5;*/
}

.buttonicon-load-pdf {
    background-image: url('../../static/img/file-add-icon.png');
}

.buttonicon-remove-pdf {
    background-image: url('../../static/img/file-remove-icon.png');
}

.buttonicon-edit-pdf {
    margin-left: -3px;
    background-image: url('../../static/img/file-edit-icon.png');
}

.buttonicon-basic-tools {
    background-image: url('../../static/img/brush-pencil-icon.png');
    background-color: white;
    height: 25px;
}

.buttonicon-basic-tools:active {
    background-image: url('../../static/img/brush-pencil-icon.png');
    background-color: white;
}

.buttonicon-basic-tools:active:focus {
    outline: none;
}

.buttonicon-shapes {
    background-image: url('../../static/img/shapes.png');
    background-color: white;
}

.buttonicon-shapes:active {
    background-image: url('../../static/img/shapes.png');
    background-color: white;
}

.buttonicon-shapes:active:focus {
    outline: none;
}

.buttonicon-pdf-tools {
    background-image: url('../../static/img/pdf.png');
    background-color: white;
}

.buttonicon-pdf-tools:active {
    background-image: url('../../static/img/pdf.png');
    background-color: white;
}

.buttonicon-pdf-tools:active:focus {
    outline: none;
}

.buttonicon-rectangle {
    background-image: url('../../static/img/rectangle.png');
}

.buttonicon-triangle {
    background-image: url('../../static/img/triangle.png');
}

.buttonicon-circle {
    background-image: url('../../static/img/circle.png');
}

.buttonicon-crop {
    background-image: url('../../static/img/crop.png');
    /*opacity: 0.5;*/
}

.buttonicon-point {
    background-image: url('../../static/img/point-icon.png');
}

.buttonicon-embed {
    background-position: 0px -18px
}

.buttonicon-showusers {
    background-position: 0px -183px;
}

#online_count {
    color: #888;
}

input[type=checkbox] {
    vertical-align: -1px
}

.popup {
    font-size: 14px;
    width: 450px;
    padding: 10px;
    border-radius: 0 0 6px 6px;
    border: 1px solid #ccc;
    background: #f7f7f7;
    background: -webkit-linear-gradient(#F7F7F7, #EEE);
    background: -moz-linear-gradient(#F7F7F7, #EEE);
    background: -ms-linear-gradient(#F7F7F7, #EEE);
    background: -o-linear-gradient(#F7F7F7, #EEE);
    background: linear-gradient(#F7F7F7, #EEE);
    -webkit-box-shadow: 0 0 8px #888;
    -moz-box-shadow: 0 0 8px #888;
    box-shadow: 0 2px 4px #ddd;
    color: #222;
}

.popup input[type=text] {
    width: 100%;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin-top: 10px;
}

.popup input[type=text], #users input[type=text] {
    outline: none;
}

.popup button {
    padding: 5px;
    font-size: 14px;
}

.popup a {
    text-decoration: none
}

.popup h1 {
    color: #555;
    font-size: 18px
}

.popup h2 {
    color: #777;
    font-size: 15px
}

.column {
    float: left;
    width: 50%;
}

.popup .exportlink:hover{
    cursor: pointer;
}

#settings,
#importexport,
#embed,
#connectivity,
#users {
    position: absolute;
    top: 36px;
    right: 20px;
    display: none;
    z-index: 500;
}

/*@media screen and (max-width: 600px) {
    .toolbar ul li.separator {
        display: none;
    }

    .toolbar ul li a {
        padding: 4px 1px
    }
}

@media all and (max-width: 199px) {
    #editorcontainer {
        top: 68px;
    }

    #editbar {
        height: 31px;
    }

    .toolbar ul.menu_right {
    }

    .popup {
        width: 100%;
        max-width: 300px;
        top: 72px !important;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 720px) {
    #users {
        top: 36px;
        bottom: 40px;
        border-radius: none;
    }

    #mycolorpicker {
        left: -73px;;
    }

    #editorcontainer {
        margin-bottom: 33px
    }

    .toolbar ul.menu_right {
        background: #f7f7f7;
        background: -webkit-linear-gradient(#f7f7f7, #f1f1f1 80%);
        background: -moz-linear-gradient(#f7f7f7, #f1f1f1 80%);
        background: -o-linear-gradient(#f7f7f7, #f1f1f1 80%);
        background: -ms-linear-gradient(#f7f7f7, #f1f1f1 80%);
        background: linear-gradient(#f7f7f7, #f1f1f1 80%);
        width: 100%;
        overflow: hidden;
        height: 32px;
        position: fixed;
        bottom: 0;
        border-top: 1px solid #ccc;
    }

    .toolbar ul.menu_right > li:last-child {
        float: right;
    }

    .toolbar ul.menu_right > li a {
        border-radius: 0;
        border: none;
        background: none;
        margin: 0;
        padding: 8px;
    }

    .toolbar ul li a.selected {
        background: none !important
    }

    #chaticon {
        display: none !important
    }

    .popup {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }

    #settings,
    #importexport,
    #connectivity,
    #embed {
        left: 0;
        top: 0;
        bottom: 33px;
        right: 0;
    }

    #online_count {
        line-height: 24px
    }
}*/

#lostConnection {
    display: none;
}

#opacity {
    position: relative;
}

#opacityRangeVal {
    width: 100%;
}

#opacityLabel {
    margin-bottom: 10px;
    font-size: 14px;
    margin-right: 20px;
}

#imageInput {
    display: none;
}

#colorpickerMover {
    background-color: lightGrey;
    height: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: solid 1px darkgrey;
    border-top: solid 1px darkgrey;
    margin-bottom: 5px;
    cursor: move;
}

#canvasContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px 37px;
}

#documentViewer {
    position: absolute;
    cursor: hand;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    visibility: hidden;
}

#myCanvas {
    position: absolute;
    cursor: hand;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

#testCanvas {
    width: 100%;
    height: 100%;
    display: none;
}

#testBase64 {
    display: none;
}

#canvasClear {
    display: none;
}
#imgCropped{
    display: none;
}
#toolBoxToggle{
    position: absolute;
    top: 0;
    left: 80%;
    padding: 5px 20px;
    display: none;
}
#toolBoxToggle:focus{
    outline: none;
}
#toolBoxToggle:active{
    color: white;
    background: orange;
}

/* styles for cropper*/
.img-container img {
    max-width: 100%
}
.cropOption {
    text-align: center;
    padding: 10px;
}
.cropOption span {
    margin: 0 5px
}
/*******************/

.pdf-controllers-container{
    display: none;
    position: absolute;
    top: 90%;
    padding: 5px 10px;
    background: darkorange;
    z-index: 20;
}
.pdf-controllers-container span{
    color: white;
    font-weight: 700;
}
.pdf-controllers-container button{
    padding: 2px 15px;
    border: 3px solid white;
    border-radius: 10px;
    color: black;
    background: green;
}
.pdf-controllers-container button:focus{
    outline: none;
}
.whiteBG {
    background-color: #fff;
}

.video_conv {
    margin-top: 0;
    float: right;
    /*width: 200px;*/
    height: 800px;
}

#remoteVideos video {
    position: relative;
    z-index: 1500;
    height: 150px;
}

#localVideo {
    position: relative;
    top: -150px;
    z-index: 1500;
    /*float: right;*/
    height: 50px;
}

.tools {
    bottom: 0px;
}

@media (max-width: 1050px){
    .tool-box {
        padding: 0 10px;
    }
}